.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffbb17;
  position: relative;
  overflow: hidden;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 560px;
  height: auto;
}

.titulo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 15px;
}

.footer {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoFlxche {
  width: 100px;
  opacity: 0.8;
}